.box {
width: 100px;
height: 100px;
border-radius: 50px;
position: relative;
border: 5px solid;
}


.boxes{
    border: 3px solid purple;
    position: relative;
    width: 400px;
    height: 200px;
    padding: 20px;
}

.box-blue {
    position: absolute;
    background: none;
    border-color: blue;
}

.box-yellow {
    background-color: yellow;
    left: 94px;
    top: 67px;
    z-index: -1;
    position: absolute;
    border: none;
}

.box-black {
    position: absolute;
    left: 165px;
    background: none;
    border-color: black;

}

.box-green{
    background-color: green;
    left: 214px;
    top: 46px;
    z-index: -1;
    border: none;
}

.box-red{
    background-color: red;
    left: 282px;
    bottom: 100px;
    background: none;
    border-color: red;
}
