html {
    font-size: 62.5%;
}

.gallery {
    text-align: center;
}

.gallery--item {
    border: 3px solid lightgray;
    border-radius: 30px;
    width: 20rem;
    overflow: hidden;
    display: inline-block;
}
.gallery--item_title {
    display: block;
    font-size: 2rem;
    width: 20rem;
    background-color: blue;
    text-align: center;
    color: aliceblue;
    margin-top: -2px;
}
