.container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.box {
    background-color: antiquewhite;
    width: 500px;
    height: 500px;
    border: 1px solid blue;
    margin: 10px;
}

.container div:nth-child(2) {
    background-color: aliceblue;
}

@media screen and (min-width: 500px) {
 .container {
    flex-direction: row;
 }
}

@media screen and (min-width: 900px) {
    .box {
        background-color: blue;
        color: white;
    }

    .container div:nth-child(2){
        color: black;
    }
}