
.box {
    display: flex;
    text-align: center;
    flex-grow: 1;
    width: 100px;
    height: 100px;
    background-color: gold;
    border: 3px solid gray;
    margin-right: 30px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.box-one {
    flex-grow: 0;
}

.box-two {
    flex-grow: 2;
    align-self: flex-end;
    flex-shrink: 2;
}