
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-size: 20px;
    
}
.chess-container{
    display: table;
    border: 1px solid black;
}

.cell {
    height: 70px;
    width: 70px;
    display: inline-block;
  }
  
  .chess-board{
    display: table-row;
  }

  .chess-board div {
	display: table-cell;
}		


.chess-board:nth-child(odd) div:nth-child(odd) {
	background-color: black;
}	
.chess-board:nth-child(even) div:nth-child(even) {
	background-color: black;
}